body{
    background: #695cdd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7878d1, #6b61da, #6356d7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7272cd, #675fc9, #5f52d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: white;
    font-size: 3em;
    text-align: center;
  font-weight: bolder;
}
.list{
    color:rgb(10, 10, 10);
    margin-top: -13em;
}
table{
    width: 80%;
    margin: 40px auto;
    background: #45daff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #45daff, #45daff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #45daff, #89e1f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-weight: bolder;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(37, 26, 26);
    text-align: left;
    padding: 8px 15px;
}

/* tr:nth-child(even), table.list thread> tr{
    background-color: rgb(39, 246, 253);
} */

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(19, 16, 16);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#4b99d8 ;
}

